@import "./breakpoint.scss";
@import "./variables.scss";
@import "./reset.scss";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100000000000;
  margin: 1em;
  width: calc(100% - 2em);
  .logo {
    img {
      height: 40px;
    }
  }
  ul {
    //margin-right: 3em;
    li {
      display: inline-block;
      margin-left: 1em;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: Poppins;
        font-weight: 600;
        font-size: 0.8125rem;
        color: #f4f4f4;
      }
    }
  }
}

.hero {
  overflow: hidden;
  background-color: black;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;

  img {
    z-index: 1000001;
  }

  .content {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6875rem;

    h1 {
      font-family: Poppins;
      width: 50rem;
      font-weight: 600;
      font-size: 2.6875rem;
      line-height: 51px;
      text-align: center;
      color: #f4f4f4;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
    p {
      width: 39rem;
      height: 5.625rem;
      font-family: Roboto;
      font-weight: normal;
      font-size: 1.3125rem;
      text-align: center;
      color: #f4f4f4;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
  }

  svg {
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #video {
    //position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.5);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}

.about {
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
  .container {
    padding-top: 6em;
    width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .about__text {
      h1 {
        font-family: Poppins;
        font-weight: bold;
        font-size: 57px;
        color: #abdf75;
        opacity: 0.31;
      }
      h2 {
        font-family: Poppins;
        font-weight: bold;
        font-size: 50px;
        text-align: left;
        color: #abdf75;
      }
      .about__description {
        width: 628px;
        height: 222px;
        font-family: Roboto;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        text-align: left;
        color: #f4f4f4;
        overflow: hidden;
      }
      .btn__video {
        max-width: 150px;
        padding: 1em 1em;
        border-radius: 7px;
        background: rgba(171, 223, 117, 0.15);
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;

        svg {
          width: 28px !important;
          height: 22px !important;
          background: transparent;
        }

        .btn__label {
          font-family: Roboto;
          font-weight: 500;
          font-size: 17px;
          color: #abdf75;
        }
      }
    }

    .about__image {
    }
  }
}

.sponsor {
  h1 {
  }
  h2 {
  }
  p {
  }
  .sponsor_card {
    img {
    }
  }
}

.agenda {
  h1 {
  }
  h2 {
  }
  h3 {
  }
  .line__active {
  }
  .plan {
    .plan__component {
      .plan__hour {
      }
      .plan__description {
        .description__title {
        }
        .description__descript {
        }
      }
    }
    .plan__line {
    }
  }
}

.whitepaper {
  h1 {
  }
  h2 {
  }
  p {
  }
  .whitepaper__card {
    img {
    }
    h4 {
    }
    .btn__download {
      p {
      }
    }
  }
}
