@import "./breakpoint.scss";
@import "./variables.scss";
@import "./reset.scss";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//layout
:root{
  scroll-behavior: smooth;
}

.container {
  padding-top: 6em;
  width: 80vw;
  margin: 0 auto;

  @include media("<=tablet") {
    width: 80vw;
    margin: 0 auto;
  }

  @include media("<=phone") {
    width: 95vw;
    margin: 0 auto;
  }
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100000000000;
  margin: 1em;
  width: calc(100% - 2em);

  @include media("<=tablet") {
    position: absolute;
  }

  @include media("<=phone") {
    position: absolute;
  }

  @include media("<=tablet") {
    width: 95vw;
    margin: 1em 0;
    justify-content: center;
  }

  @include media("<=phone") {
    width: 95vw;
    margin: 1em 0;
    justify-content: center;
  }

  .logo {
    img {
      height: 40px;
    }
  }
  ul {
    @include media("<=tablet") {
      display: none;
    }

    @include media("<=phone") {
      display: none;
    }
    li {
      display: inline-block;
      margin-left: 1em;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: Poppins;
        font-weight: 600;
        font-size: 0.8125rem;
        color: #f4f4f4;
      }
    }
  }
}

.hero {
  overflow: hidden;
  background-color: black;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;

  @include media("<=tablet") {
    width: 100vw;
  }

  @include media("<=phone") {
    width: 100vw;
  }

  img {
    z-index: 1000001;
  }

  .content {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6875rem;

    h1 {
      font-family: Poppins;
      width: 50rem;
      font-weight: 600;
      font-size: 2.6875rem;
      line-height: 51px;
      text-align: center;
      color: #f4f4f4;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

      @include media("<=tablet") {
        width: 23rem;
        line-height: 2rem;
        font-size: 1.8rem;
      }

      @include media("<=phone") {
        width: 19rem;
        line-height: 1.8rem;
        font-size: 1.5rem;
      }
    }
    p {
      width: 39rem;
      height: 5.625rem;
      font-family: Roboto;
      font-weight: normal;
      font-size: 1.3125rem;
      text-align: center;
      color: #f4f4f4;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

      @include media("<=tablet") {
        width: 30rem;
        line-height: 1.7rem;
        font-size: 1.2rem;
      }

      @include media("<=phone") {
        width: 20rem;
        line-height: 1.4rem;
        font-size: 1.2rem;
      }
    }
  }

  svg {
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media("<=tablet") {
      transform: translate(-50%, -50%) scale(0.9);
    }

    @include media("<=phone") {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }

  #video {
    //position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    //transform: scale(1.5);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    @include media("<=tablet") {
      transform: scale(4);
    }

    @include media("<=phone") {
      transform: scale(3.2);
    }
  }
}

.about {
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .about__text {
      @include media("<=tablet") {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      @include media("<=phone") {
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      h1 {
        font-family: Poppins;
        font-weight: bold;
        font-size: 57px;
        color: #abdf75;
        opacity: 0.31;

        @include media("<=tablet") {
          font-size: 3em;
        }

        @include media("<=phone") {
          font-size: 2.8em;
        }
      }
      h2 {
        font-family: Poppins;
        font-weight: bold;
        font-size: 50px;
        text-align: left;
        color: #abdf75;

        @include media("<=tablet") {
          font-size: 2.3em;
        }

        @include media("<=phone") {
          font-size: 2.3em;
        }
      }
      .about__description {
        width: 628px;
        height: 220px;
        margin: 1.2em 0;
        font-family: Roboto;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        text-align: left;
        color: #f4f4f4;
        overflow: hidden;

        @include media("<=tablet") {
          font-size: 1em;
          width: 90vw;
          text-align: center;
        }

        @include media("<=phone") {
          font-size: 1em;
          width: 90vw;
          text-align: center;
        }
      }
      .btn__video {
        max-width: 150px;
        padding: 1em 1em;
        border-radius: 7px;
        background: rgba(171, 223, 117, 0.15);
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;

        @include media("<=tablet") {
          padding: 0.9em 0.9em;
        }

        @include media("<=phone") {
          padding: 0.8em 0.8em;
        }

        svg {
          width: 28px !important;
          height: 22px !important;
          background: transparent;

          @include media("<=tablet") {
            transform: scale(0.8);
          }

          @include media("<=phone") {
            transform: scale(0.8);
          }
        }

        .btn__label {
          font-family: Roboto;
          font-weight: 500;
          font-size: 17px;
          color: #abdf75;

          @include media("<=tablet") {
            font-size: 1em;
          }

          @include media("<=phone") {
            font-size: 1em;
          }
        }
      }
    }

    .image {
      img {
        @include media("<=tablet") {
          display: none;
        }

        @include media("<=phone") {
          display: none;
        }
      }
    }
  }
}

.sponsor {
  width: 100%;
  min-height: 100vh;
  background-color: $bg-color;

  .container {
    @include media("<=tablet") {
      width: 80vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include media("<=phone") {
      width: 95vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-family: Poppins;
      font-weight: bold;
      font-size: 57px;
      color: #abdf75;
      opacity: 0.31;

      @include media("<=tablet") {
        font-size: 3em;
      }

      @include media("<=phone") {
        font-size: 2.8em;
      }
    }
    h2 {
      font-family: Poppins;
      font-weight: bold;
      font-size: 50px;
      text-align: left;
      color: #abdf75;

      @include media("<=tablet") {
        font-size: 2.3em;
      }

      @include media("<=phone") {
        font-size: 2.3em;
      }
    }
    p {
      width: 544px;
      font-family: Roboto;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      text-align: left;
      color: #f4f4f4;
      margin: 1.2em 0;

      @include media("<=tablet") {
        font-size: 1em;
        width: 90vw;
        text-align: center;
      }

      @include media("<=phone") {
        font-size: 1em;
        width: 90vw;
        text-align: center;
      }
    }
    .sponsor__container {
      display: grid;
      grid-template-columns: 109px 109px 109px auto;
      gap: 1em;

      @include media("<=tablet") {
        font-size: 1em;
        width: 90vw;
        text-align: center;
      }

      @include media("<=phone") {
        grid-template-columns: auto;
        justify-content: center;
      }
      .sponsor__card {
        width: 109px;
        height: 109px;
        border-radius: 9px;
        background: rgba(37, 36, 34, 0.15);
        display: grid;
        place-items: center;

        svg {
          height: 45px;
          width: 45px;
        }
      }
    }
  }
}

.agenda {
  width: 100%;
  min-height: 100vh;
  background-color: $bg-color;
  .container {
    @include media("<=tablet") {
      width: 80vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include media("<=phone") {
      width: 95vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-family: Poppins;
      font-weight: bold;
      font-size: 57px;
      color: #abdf75;
      opacity: 0.31;

      @include media("<=tablet") {
        font-size: 3em;
      }

      @include media("<=phone") {
        font-size: 2.8em;
      }
    }
    h2 {
      font-family: Poppins;
      font-weight: bold;
      font-size: 50px;
      text-align: left;
      color: #abdf75;

      @include media("<=tablet") {
        font-size: 2.3em;
      }

      @include media("<=phone") {
        font-size: 2.3em;
      }
    }
    h3 {
      font-family: Poppins;
      font-weight: 300;
      font-size: 28px;
      color: #abdf75;
      margin-top: 1.2em;

      @include media("<=tablet") {
        font-size: 2.3em;
      }

      @include media("<=phone") {
        text-align: center;
        font-size: 1.5em;
      }
    }
    .line__active {
      width: 100%;
      height: 0px;
      background: transparent;
      border: 1px solid #abdf75;
      margin-top: 1.3em;

      @include media("<=tablet") {
        width: 80vw;
      }

      @include media("<=phone") {
        width: 80vw;
      }
    }
    .plan {
      margin-top: 2em;
      display: flex;
      flex-direction: column;

      .plan__component {
        display: flex;
        flex-direction: row;
        align-items: top;
        gap: 6em;

        @include media("<=tablet") {
          flex-direction: column;
          align-items: center;
          gap: 1em;
        }

        @include media("<=phone") {
          flex-direction: column;
          align-items: center;
          gap: 1em;
        }
        //justify-content: space-between;
        .plan__hour {
          font-family: Roboto;
          font-weight: normal;
          font-size: 21px;
          text-align: left;
          color: #f4f4f4;
        }
        .plan__description {
          @include media("<=tablet") {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          @include media("<=phone") {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .description__title {
            font-family: Roboto;
            font-weight: normal;
            font-size: 21px;
            text-align: left;
            color: #f4f4f4;

            @include media("<=tablet") {
              text-align: center;
            }

            @include media("<=phone") {
              text-align: center;
            }
          }
          .description__descript {
            width: 736px;
            font-family: Roboto;
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            text-align: left;
            color: #f4f4f4;
            opacity: 0.31;
            margin-top: 0.8em;

            @include media("<=tablet") {
              width: 80vw;
              text-align: center;
            }

            @include media("<=phone") {
              width: 80vw;
              text-align: center;
            }
          }
        }
      }
      .plan__line {
        width: 100%;
        background: transparent;
        border: 1px solid #f4f4f4;
        opacity: 0.06;
        margin: 2em 0;
      }
    }
  }
}

.whitepaper {
  width: 100%;
  min-height: 100vh;
  background-color: $bg-color;

  .container {
    @include media("<=tablet") {
      width: 80vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include media("<=phone") {
      width: 95vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-family: Poppins;
      font-weight: bold;
      font-size: 57px;
      color: #abdf75;
      opacity: 0.31;

      @include media("<=tablet") {
        font-size: 3em;
      }

      @include media("<=phone") {
        font-size: 2.8em;
      }
    }
    h2 {
      font-family: Poppins;
      font-weight: bold;
      font-size: 50px;
      text-align: left;
      color: #abdf75;

      @include media("<=tablet") {
        font-size: 2.3em;
      }

      @include media("<=phone") {
        font-size: 2.3em;
      }
    }
    .whitepaper__description {
      width: 544px;
      font-family: Roboto;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      text-align: left;
      color: #f4f4f4;
      margin: 1.5em 0;

      @include media("<=tablet") {
        font-size: 1em;
        width: 90vw;
        text-align: center;
      }

      @include media("<=phone") {
        font-size: 1em;
        width: 90vw;
        text-align: center;
      }
    }
    .whitepaper__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1.5em;
      margin-bottom: 3em;

      @include media("<=tablet") {
        display: grid;
        grid-template-columns: auto;
        gap: 1.2em;
      }

      @include media("<=phone") {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2em;
      }

      .whitepaper__card {
        width: 260px;
        border-radius: 10px;
        background: #252422;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 1em;

        img {
          position: absolute;
          margin-top: -1.3em;
        }

        h4 {
          padding-top: 9em;
          font-family: Poppins;
          font-weight: 600;
          font-size: 15px;
          color: #abdf75;
        }
        .btn__download {
          border-radius: 7px;
          background: #abdf75;
          box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.16);
          padding: 0.9em 1.2em;
          margin: 1em 0;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          gap: 1em;

          p {
            font-family: Poppins;
            font-weight: 600;
            font-size: 12px;
            text-align: center;
            color: #252422;
          }
        }
      }
    }
  }
}

//footer
footer {
  background-color: $primary;
  padding: 1.5em 0;
  .content {
    margin: 0 auto;
    width: 80vw;

    p {
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      color: black;
    }

    a{
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      color: black;
    }
  }
}
